<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomStateController</servlet-name>
        <servlet-class>controller.admin.roomstate.RoomStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomStateController</servlet-name>
        <servlet-class>controller.admin.roomstate.RemoveRoomStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomStateController</servlet-name>
        <servlet-class>controller.admin.roomstate.UpdateRoomStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomStateController</servlet-name>
        <servlet-class>controller.admin.roomstate.CreateRoomStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilityController</servlet-name>
        <servlet-class>controller.admin.utility.UtilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUtilityController</servlet-name>
        <servlet-class>controller.admin.utility.CreateUtilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUtilityController</servlet-name>
        <servlet-class>controller.admin.utility.UpdateUtilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUtilityController</servlet-name>
        <servlet-class>controller.admin.utility.RemoveUtilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.admin.category.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryController</servlet-name>
        <servlet-class>controller.admin.category.CreateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategoryController</servlet-name>
        <servlet-class>controller.admin.category.RemoveCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>controller.admin.category.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.admin.customer.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerController</servlet-name>
        <servlet-class>controller.admin.customer.CreateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomerController</servlet-name>
        <servlet-class>controller.admin.customer.RemoveCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>controller.admin.customer.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.admin.room.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomDBContext</servlet-name>
        <servlet-class>controller.admin.room.CreateRoomDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>controller.admin.room.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>controller.admin.room.RemoveRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.admin.service.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceController</servlet-name>
        <servlet-class>controller.admin.service.CreateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>controller.admin.service.RemoveServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.admin.service.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.hotel.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryCheckOutController</servlet-name>
        <servlet-class>controller.hotel.HistoryCheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateController</servlet-name>
        <servlet-class>controller.admin.state.StateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStateController</servlet-name>
        <servlet-class>controller.admin.state.UpdateStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStateController</servlet-name>
        <servlet-class>controller.admin.state.RemoveStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStateController</servlet-name>
        <servlet-class>controller.admin.state.CreateStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAfterCreate</servlet-name>
        <servlet-class>controller.admin.category.UpdateAfterCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterCreate</servlet-name>
        <servlet-class>controller.admin.category.AfterCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceByRoomSetted</servlet-name>
        <servlet-class>controller.admin.service.GetServiceByRoomSetted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.admin.service.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutHistory</servlet-name>
        <servlet-class>controller.admin.service.CheckoutHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomStateController</servlet-name>
        <url-pattern>/admin/room/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomStateController</servlet-name>
        <url-pattern>/admin/room/state/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomStateController</servlet-name>
        <url-pattern>/admin/room/state/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomStateController</servlet-name>
        <url-pattern>/admin/room/state/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilityController</servlet-name>
        <url-pattern>/admin/category/utility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUtilityController</servlet-name>
        <url-pattern>/admin/category/utility/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUtilityController</servlet-name>
        <url-pattern>/admin/category/utility/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUtilityController</servlet-name>
        <url-pattern>/admin/category/utility/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryController</servlet-name>
        <url-pattern>/admin/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategoryController</servlet-name>
        <url-pattern>/admin/category/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/admin/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/admin/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerController</servlet-name>
        <url-pattern>/admin/customer/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomerController</servlet-name>
        <url-pattern>/admin/customer/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/admin/customer/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/admin/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomDBContext</servlet-name>
        <url-pattern>/admin/room/cteate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/admin/room/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/admin/room/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/admin/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceController</servlet-name>
        <url-pattern>/admin/service/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/admin/service/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/admin/service/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/admin/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryCheckOutController</servlet-name>
        <url-pattern>/admin/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateController</servlet-name>
        <url-pattern>/admin/service/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStateController</servlet-name>
        <url-pattern>/admin/service/state/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStateController</servlet-name>
        <url-pattern>/admin/service/state/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStateController</servlet-name>
        <url-pattern>/admin/service/state/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAfterCreate</servlet-name>
        <url-pattern>/admin/category/updatecreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterCreate</servlet-name>
        <url-pattern>/admin/category/aftercreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceByRoomSetted</servlet-name>
        <url-pattern>/admin/service/roomsetted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/admin/service/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutHistory</servlet-name>
        <url-pattern>/admin/checkout/history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
